*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}

header{
    margin: 50px 0;
    width: 100%;
    height: 50px;
    .header-content{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    .header-title{
        height: 50px;
        width: 170px;
        background-image: url("../img/Logo.png");
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        p{
            width: 150px;
            font-weight: 400;
            font-size: 12px; 
            color: #000000;
            span{
                font-weight: bold; 
            } 
        }
    }
    .header-profile{
        display: flex;
        justify-content: flex-end;
        flex: 2;
        .header-img{
        width: 47px;
        height: 47px;
        border-radius: 50px;
        background-color: gray;
        img{
            width: 100%;
        }
        }
    }
    .header-menu{
        z-index: 10;
        margin-left: 15px;
        display: flex;
        justify-content: flex-end;
        button{
            cursor: pointer;
            outline: none;
            background: none;
            border: none;
            
            i{
                font-size: 25px;
                color: gray;
               
            }
        }
    }
    }
}
main{
    #banner{
        width: 100%;
        .banner-content{
            width: 100%;
            background-image: url("../img/background.png");
            height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    #form{
        width: 100%;
        height: auto;
        .form-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            height: auto;
            label{
                width: 100%;
                margin: 10px 0;
                font-weight: 400;
                font-size: 13px;
            }
            input{
                padding-left:10px ;
                width: 100%;
                height: 50px;
                background: #EDEDED;
                border-radius: 9px;
                outline: none;
                border: none;
            }
            button{
                width: 276px;
                height: 61px;
                background: #E109A5;
                border-radius: 9px;
                border: none;
                outline: none;
                font-weight: 700;
                font-size: 20px;
                color: #fff;
                margin: 10px 0;
                cursor: pointer;
                &:hover{
                    background: #ff31c5;
                }
            }
        }
    }
    #information{
        margin-top: 20px;
        width: 100%;
        height: auto;
        background-color: #E109A5;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
        .information-content{
            padding: 20px 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            color: #fff;
            position: relative;
            h2{
                font-weight: 400;
                font-size: 30px;
                margin: 20px 0;
            }
            p{
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 20px;
            }
            strong{
                margin-bottom: 10px;
            }
            .main-logo{
                position: absolute;
                bottom: 20px;
                right: 0;
            }
        }
    }
}
.header-mobile-menu{
    position: fixed;
    right: -100%;
    top: 100px;
    z-index: 10;
    width: 280px;
    height: 610px;
    background-color: #E109A5;
    border-radius: 20px 0px 0px 20px;
    transition: 1s all ease-in;
    display: flex;
    padding: 40px;
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        li{
            margin-bottom: 20px;
            a{
                color: #fff;
                font-size:  19px;;
            }
        }
    }
}
.header-mobile-menu-open{
    transition: 1s all ease-in;
    position: absolute;
    right: 0;
    top:100px;
    z-index: 10;
    width: 280px;
    height: 610px;
    background-color: #E109A5;
    border-radius: 20px 0px 0px 20px;
}
.rotate{
    transform: rotate(90deg);
}
.overlay{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 210%;
  backdrop-filter: blur(2px);
  transition: 1s all ease-in;
  display: none;
}
.overlay-open{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 210%;
    backdrop-filter: blur(2px);
    transition: 1s all ease-in;
     display: block;
}